
@{
    ViewData["Title"] = "Panel administracyjny";
}

<h1>Panel administracyjny</h1>

<a asp-controller="Pracownicies" asp-action="Index"><button class="btn btn-primary">Zarządzaj pracownikami</button></a>
<a asp-controller="Seanses" asp-action="Index"><button class="btn btn-primary">Zarządzaj seansami</button></a>




